dataupload/
media/
application/config/config.php
application/config/database.php
application/config/config.php
application/config/database.php
.user.ini
application/config/database.php
# Ignore disposisi folder
disposisi/
system/